/* GENERAL CSS */

/*
    SPINNER
*/
#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#loading img {
	width: 100px;
}
