/* GENERAL CSS */

/*
    SPINNER
*/
#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#loading img {
	width: 100px;
}

/* ANIMATIONS */
@keyframes fadeInSkew {
	from {
		transform: translateY(80px) skew(0, 5deg);
		opacity: 0;
	}
	to {
		transform: translateX(0) skew(0, 0);
		opacity: 1;
	}
}

/* COMPONENTS FADE */
.transitionGroup {
	flex: 1;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas: "main";
	height: 100%;
}
.fade-enter {
	opacity: 0;
	z-index: 1;
	grid-area: main;
}
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.fade-exit {
	opacity: 1;
	grid-area: main;
}
.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 0.5s ease;
}
