/* 
    === ALL ===
*/
div.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*
    HEADING
*/
div.heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 { 
    margin:0;
}
h2.subtitle {
    margin: 5px 0;
}

/* ANIMATION */
.colorBox {
    z-index: 100;
    position: absolute;
    animation: .5s 2 alternate slidein;
    transform-origin: left;
    transform: scaleX(0);
}
h1 .colorBox {
    background-color: lightskyblue;
    height: 150px;
    width: 1020px;
    animation: .5s 2 alternate slidein;
    animation-delay: 0.2s;
}
h1 .text,
h2 .text {
    opacity: 0;
    animation: showText 0s 0.7s forwards;
}
h2 .colorBox {
    background-color: brown;
    height: 50px;
    width: 370px;
    animation: .3s 2 alternate slidein;
    animation-delay: 0.5s;
}
@keyframes slidein {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes showText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 
=== MOBILE ===
*/
@media screen and (max-width: 768px) {
    h1 { 
        font-size: 2.5rem;
        line-height: 1;
    }
    h2.subtitle {
        padding-left: 0.1rem;
        font-size: 0.8rem;
    }
}

/* 
    === TABLET ===
*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    h1 { 
        font-size: 4rem;
        line-height: 1.2;
    }
    h2.subtitle {
        padding-left: .2rem;
        font-size: 1.2rem;
    }
}

/*
    === DESKTOP ===
*/
@media screen and (min-width: 1200px) {
    h1 { 
        font-size: 7rem;
        line-height: 1.2;
    }
    h2.subtitle {
        padding-left: .4rem;
    }
}