/*
    LISTE DES
    REALISATIONS

*/
@media screen and (min-width: 960px) {
	#pageTitle h1 {
		font-size: 70px;
	}
}

/* REALISATIONS */
#realisations-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
#realisations-container > .realisation {
	width: 100%;
	margin-bottom: 70px;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
	animation-delay: var(--delai);
}

#realisations-container > .realisation > .realisation-inner {
	display: flex;
	flex-direction: column-reverse;
}
#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-text {
	padding: 30px 20px;
	background: #0c6980;
	color: white;
}
#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-text
	> hr {
	width: 100%;
	height: 4px;
	border: 0;
	background: white;
	margin: 5px 0;
}

#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-text
	> h3 {
	margin: 2px 0;
	font-size: 5vw;
}

#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-text
	> a {
	color: white;
	text-decoration: none;
	font-size: 3vw;
	margin-top: 10px;
}
#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-text
	> a:hover {
	text-decoration: underline;
}
#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-image-container
	> a {
	filter: saturate(0);
	transition: filter 0.2s ease-in-out, transform 0.3s ease-in-out;
}
#realisations-container
	> .realisation:hover
	> .realisation-inner
	> .realisation-image-container
	> a {
	filter: saturate(1);
	transform: scale(1.1);
}
#realisations-container
	> .realisation
	> .realisation-inner
	> .realisation-image-container
	> a
	> img {
	width: 100%;
	position: relative;
}
@media screen and (min-width: 1280px) {
	#realisations-container {
		flex-direction: row;
	}
	#realisations-container > .realisation {
		width: 48%;
	}
	#realisations-container > .realisation > .realisation-inner {
		flex-direction: row;
		justify-content: space-between;
	}
	#realisations-container
		> .realisation
		> .realisation-inner
		> .realisation-image-container {
		display: flex;
		width: 70%;
	}
	#realisations-container
		> .realisation
		> .realisation-inner
		> .realisation-image-container
		> a {
		margin-left: -70px;
	}
	#realisations-container
		> .realisation
		> .realisation-inner
		> .realisation-text {
		min-width: 250px;
		width: 250px;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin-top: 30px;
		position: relative;
		z-index: 999;
	}
	#realisations-container
		> .realisation
		> .realisation-inner
		> .realisation-text
		> h3 {
		margin: 5px 0;
		font-size: 40px;
	}
	#realisations-container
		> .realisation
		> .realisation-inner
		> .realisation-text
		> a {
		margin: 6px 0;
		font-size: 20px;
	}
}

/*

    UNE REALISATION

*/
#single-realisation > .single-realisation-inner {
	display: flex;
	justify-content: space-between;
}
#single-realisation > .single-realisation-inner > * {
	width: 49%;
}
#single-realisation
	> .single-realisation-inner
	> .single-realisation-image-container
	> img {
	max-width: 100%;
}
#single-realisation > .single-realisation-inner > .single-realisation-text {
	line-height: 1.6;
	text-align: justify;
}
#single-realisation > .single-realisation-inner > .single-realisation-text > p {
	margin-top: 0;
}
#single-realisation > .single-realisation-inner > .single-realisation-text > a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#single-realisation
	> .single-realisation-inner
	> .single-realisation-text
	> a:hover {
	text-decoration: underline;
}
