/*
    ABOUT PAGE
*/

#about {
	max-width: 100%;
	margin: 8vh auto 10vh;
}
@media screen and (min-width: 960px) {
	#about {
		max-width: 750px;
		margin: 8vh auto 10vh;
	}
}

/* TITLE & MAIN PHOTO */
.tilted {
	animation: appear 0.5s ease-out forwards;
	animation-delay: 0.5s;
	transform: scale(1.2);
	opacity: 0;
	margin-bottom: 10vh;
}
.tilted h1 {
	font-size: 10vw;
}
@media screen and (min-width: 960px) {
	.tilted h1 {
		font-size: 100px;
	}
}
@keyframes appear {
	from {
		transform: scale(1.2);
		opacity: 0;
	}
	to {
		transform: scale(1) rotate(-5deg);
		opacity: 1;
	}
}

/* TEXT */
.text > h2.huge {
	font-size: 6vw;
	opacity: 0;
	animation: fadeInSkew 0.8s ease forwards;
	animation-delay: 0.8s;
}
@media screen and (min-width: 960px) {
	.text > h2.huge {
		font-size: 50px;
	}
}

.text > .paragraph {
	font-size: 3vw;
	line-height: 1.7;
	opacity: 0;
	animation: fadeInSkew 0.8s ease forwards;
	animation-delay: 1s;
}
.text > .paragraph > pre {
	font-size: 2.5vw;
}
@media screen and (min-width: 960px) {
	.text > .paragraph,
	.text > .paragraph > pre {
		font-size: 25px;
	}
}
